* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Declaração de Fontes */

@font-face {
    font-family: Beaufort;
    src: url(../src/font/BeaufortForLoL-TTF/BeaufortforLOL-Regular.ttf);
}

@font-face {
    font-family: BeaufortBold;
    src: url(../src/font/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf);
}

@font-face {
    font-family: BeaufortItalic;
    src: url(../src/font/BeaufortForLoL-TTF/BeaufortforLOL-Italic.ttf);
}

@font-face {
    font-family: BeaufortBoldItalic;
    src: url(../src/font/BeaufortForLoL-TTF/BeaufortforLOL-BoldItalic.ttf);
}

@font-face {
    font-family: Spiegel;
    src: url(../src/font/Spiegel-TTF/Spiegel_TT_Regular.ttf);
}

@font-face {
    font-family: SpiegelBold;
    src: url(../src/font/Spiegel-TTF/Spiegel_TT_Bold.ttf);
}

/* Header e Navbar */

.header {
    width: 100%;
    height: 80px;
    background-color: #1E1E1E;
    color: white;
}

.container_header {
    display: flex;
    width: 97%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.container_header a{
    color: white;
    text-decoration: none;
}

.icone_logo {
    height: 45px;
    width: 45px;
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-left: 40px;
    font-size: 22px;
    font-family: SpiegelBold;
}

/* Rodapé */

.linha {
    height: 20px;
    background-color: #1E1E1E;
}

.container_footer {
    background-color: #091428;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footer li {
    margin-left: 100px;
}

.titulo_footer {
    color: white;
    font-family: SpiegelBold;
    font-size: 27px;
}

.texto_footer {
    color: white;
    font-family: Spiegel;
    font-size: 22px;
}

.footer li img{
    padding-top: 10px;
    width: 45px;
}